{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/courses/course-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Golf Courses</h1>
</section>

<section class="card-container">
  {% for course in course_list %}
  <div class="card" style="border-color: {{ course.color }}">
    <div class="card-bg" style="background-color: {{ course.color }}"></div>
    <a href="{% url 'courses_detail' course.id %}">
      <div class="card-content">
        <h2>{{ course.name }}</h2>
        <h3>{{ course.location }}</h3>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}