{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/golfers/golfer-detail.css' %}"
/>
<script defer src="{% static 'js/golfer-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="golfer-container">
  <div class="golfer-img">
    <img 
      src="{% static 'images/golferswing.svg' %}" 
      alt="A golfer"
    >
  </div>
  <div class="golfer-details">
    <h1>{{ golfer.name }}</h1>
    {% if golfer.age > 0 %}
      <h2>A {{ golfer.age }} year old golfer from {{ golfer.logolferion }}</h2>
    {% else %}
      <h2>A golfer that is not alive yet</h2>
    {% endif %}
    <p>Golfer has been golfing for {{ golfer.experience }} years</p>
    <div class="golfer-actions">
      <a href="{% url 'golfers_update' golfer.id %}" class="btn warn">Edit</a>
      <a href="{% url 'golfers_delete' golfer.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="practices-toy-container">
  <section class="practices">
    <div class="subsection-title">
      <h2>Practices</h2>
      <img 
        src="{% static 'images/golfbag.svg' %}" 
        alt="A golf bag"
      />
      <img 
        src="{% static 'images/practiceclub.svg' %}"
        alt="a golf club"
      />
      <img 
        src="{% static 'images/golfgreen.svg' %}" 
        alt="A golf green"
      />
    </div>
    <h3>Add Practice Session</h3>
    <form
    action="{% url 'add_practice' golfer.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ practice_form.as_p }}
      <button type="submit" class="btn submit">Add Session</button>
    </form>
    <h3>Past Sessions</h3>
    {% if golfer.practice_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Session</th></tr>
      </thead>
      <tbody>
        {% for practice in golfer.practice_set.all %}
          <tr>
            <td>{{practice.date}}</td>
            <td>{{practice.get_range_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
			<div class="subsection-content">
        <p>{{golfer.name}} has never practiced at the range</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}