{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/golfers/golfer-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="golfer-container">
  <div class="golfer-img">
    {% comment %} <img 
      src="{% static 'images/sk8r-boi-golfer.svg' %}" 
      alt="A skater boy golfer"
    > {% endcomment %}
  </div>
  <div class="golfer-details">
    <h1>{{ golfer.name }}</h1>
    {% if golfer.age > 0 %}
      <h2>A {{ golfer.age }} year old golfer from {{ golfer.location }}</h2>
    {% else %}
      <h2>A golfer that is not alive yet</h2>
    {% endif %}
    <p>Golfer has been golfing for {{ golfer.experience }} years</p>
    <div class="golfer-actions">
      <a href="{% url 'golfers_update' golfer.id %}" class="btn warn">Edit</a>
      <a href="{% url 'golfers_delete' golfer.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}